@model Department

<h1>Department Details</h1>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.DeptName</h5>
        <h6 class="card-subtitle mb-2 text-muted">Department Id: @Model.DeptId</h6>
        <a href="~/Department/GetAll" class="btn btn-primary">Back</a>
    </div>
</div>

