﻿<h1 class="text-success">Create New Student</h1>


<form action="~/Student/ActualCreate">

    <label for="Id">Student ID</label>
    <input type="Number" name="Id" value="" />

    <br />
    <hr />
    <br />

    <label for="SName">Student Name</label>
    <input type="Text" name="SName" value="" />

    <br />
    <hr />
    <br />

    <label for="Age">Student Age</label>
    <input type="Number" name="Age" value="" />

    <br />
    <hr />
    <br />

    <label for="Address">Student Address</label>
    <input type="text" name="Address" value="" />

    <br />
    <hr />
    <br />

    <input type="submit" value="Add" class="btn btn-success" />
    <a href="~/Student/GetAll" class="btn btn-secondary">Cancel</a>

</form>